main {
    overflow: hidden;
}

.all-center {
    position: absolute;
    top: 50%;
    left: 50%;

    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}

.full{
    min-height: 100vh;
}

.full-width{
    width: 100% !important;
}

.grecaptcha-badge {
    visibility: hidden;
}

.card .collection{
    box-shadow: none;
    border: none;
}

.c-title{
    text-align: center;
    margin-bottom: -5px;
}

.c-space{
    height: 4px;
}

/* region menu */

.menu_margin {
    margin-left: 50px;
    margin-right: 50px;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;

    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

#nav-mobile{
    margin-top: 20px;
}

#nav-mobile > li {
    margin: 0 1rem;
    overflow: hidden;
}

ul#nav-mobile li a{
    font: normal 100% 'trebuchet ms' , sans-serif;

    display: block;
    height: 20px;
    color:#fff;
}

ul#nav-mobile li a:hover{
    color: #d0d0d0;
}

@media (max-width: 352px) {
    .brand-logo {
        opacity: 0;
    }
}

@media (max-width: 992px) {
    .nav {
        display: flex;
        flex-direction: row;

        position: relative;
    }

    .menu-button-container {
        display: flex;
    }

    #nav-mobile {
        position: absolute;
        top: 0;

        line-height: 0;

        margin-top: 50px;
        right: 80px;

        flex-direction: column;

        width: 100%;
        height: 150px;

        justify-content: center;
        align-items: center;

        z-index: 3;
    }

    #menu-toggle ~ #nav-mobile li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;

        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ #nav-mobile li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;

        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #nav-mobile > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;

        width: 100%;
        color: white;

        background: linear-gradient(to left, #623e63, #9910cb);
    }

    #nav-mobile > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

/* endregion */

.container_auth {
    margin-top: 50px;
}

.input-field .prefix {
    color: #555;
}

.input-field .prefix.active {
    color: #4caf50;
}

.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=number]:focus + label {
    color: #4caf50 !important;
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=number]:focus {
    border-bottom: 1px solid #4caf50 !important;
    box-shadow: 0 1px 0 0 #4caf50 !important;
}

ul.collection > li:not(:last-child){
    margin-bottom: -20px !important;
}

.ava-spacer{
    background-color: #4caf50;
    height: 128px;
    margin-bottom: -60px;
}

.ava-card{
    height: 290px !important;
}

.ava{
    border: 5px solid #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: -30px;
}